@import "main.css";

/*

Contents

    1 Element

    2 Class

    3 Hover

*/



/*
=================================================================

1 Element Styles
*/

main {
    padding: 2% 5% 5% 5%;
}

section {
    margin-bottom: 1em;
}

ol {
    margin: 0;
    padding-left: 1em;
    list-style: none;
}

ol > :first-child {
    margin-top: 2em;
}

li {
    margin-bottom: 0.7em;
}

h1 {
    color: var(--blue1);
    margin-bottom: 1em;
}

h2 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 20px;
    font-weight: normal;
    color: var(--blue1);
}

p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}



/*
=================================================================

2 Class Styles

*/

.link-container {
    display: flex;
    justify-content: end;
    margin-bottom: 1em;
    width: 100%;
}

a.search-link {
    margin: 0;
    display: inline-block;
    font-weight: bolder;
    text-align: right;
}

a.dict-link {
    display: inline;
    color: var(--blue1);
    text-decoration: underline;
}



/*
=================================================================

3 Hover Styles

*/

