

/*

Contents

    1 Global

    2 Section

    3 Result-Section-Related

    4 Form

    5 Container

    6 Button

    7 Anchor
    
    8 Hover
    
    9 Disabled
    
    10 Unordered

*/



/*
=================================================================

1 Global 
*/

body {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    font-family: sans-serif;
    background-color: rgb(50, 50, 50);
    color:rgb(230, 230, 230);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    column-gap: 0.7em;
    row-gap: 0.7em;
}

hr {
    width: 100%;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    grid-column: 1 / 5;
}



/*
=================================================================

2 Section
*/

section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em 4% 1em 4%;
    background-color: rgb(60, 60, 60);
    box-shadow: 2px 2px 6px 4px rgb(40, 40, 40);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.info-section {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.result-section {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 1em 0 1em 0;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    min-height: 33em;
    height: auto;
}



/*
=================================================================

3 Result-Section-Related
*/

.result-text {
    width: 80%;
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: row;*/
}

.result {
    font-size: 10px;
    margin-bottom: 5px;
}

#lemma-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.syllable-lemma {
    margin-bottom: 5px;
}

.lemma {
    font-size: 18px;
}

.pattern:nth-child(odd) {
    color: rgb(200, 150, 150)
}

.pattern:nth-child(even) {
    color: rgb(150, 150, 200);
}



/*
=================================================================

4 Form 
*/

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 0.5em;
}

.navigation-form {
    display: inline-flex;
    justify-content: center;
    width: 8%;
}

#download-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
}



/*
=================================================================

5 Container 
*/

#page-container {
    width: 100%;
    text-align: center;
}

#results-container {
    flex-grow: 2;
}

#syllabification-container{
    display: none;
    flex-grow: 1;
}

#syllable-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

#download-container {
    margin-top: 1em;
}



/*
=================================================================

6 Button 
*/

button {
    overflow: hidden;
    font-size: 18px;
    text-align: left;
    color: rgb(230, 230, 230);
    background-color: rgb(60, 60, 60);
    border: none
}

.length-btn {
    display: inherit;
    margin: 0;
    background-color: rgb(60, 60, 60);
    border: none;
}



/*
=================================================================

7 Anchor 
*/

a {
    color:rgb(230, 230, 230);
    text-decoration: none;
}

a.back {
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 2em;
    color: rgb(230, 230, 230);
}

a.help-link {
    color: rgb(150, 150, 150);
}

a.help-link > * {
    vertical-align: super;
    font-size: 14px;
}

a.download-link {
    display: none;
}

#back-link {
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 2em;
}



/*
=================================================================

8 Hover 
*/

button:hover {
    color: white;
    cursor: pointer;
}

a:hover {
    color: white;
}

a:hover .pattern:nth-child(odd) {
    color: rgb(250, 200, 200);
}

a:hover .pattern:nth-child(even) {
    color: rgb(200, 200, 250);
}



/*
=================================================================

9 Disabled 
*/

button:disabled {
    background-color: rgb(60, 60, 60);
    color: rgb(100, 100, 100);
    border: 2px solid rgb(100, 100, 100);
    cursor: auto;   
}

.next-results-btn:disabled {
    visibility: hidden;
}



/*
=================================================================

10 Unordered 
*/

.fa-external-link {
    position: relative;
    bottom: 1ex;
    left: 0.5em;
}

.info {
    color: rgb(150, 150, 150);
    }

.info-content {
    color: rgb(230, 230, 230);
}

#download-status {
    display: none;
}