
body {
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 5em;
    margin-right: 5em;
    background-color: rgb(50, 50, 50);
    color:rgb(230, 230, 230);
}

main {
    margin-top: 5em;
}

a {
    color:rgb(230, 230, 230);
    text-decoration: none;
}

a:hover {
    color: white;
}

#back-link {
    display: inline-block;
    margin-bottom: 1em;
}

section {
    margin-bottom: 1em;
    overflow: auto;
    background-color: rgb(60, 60, 60);
    box-shadow: 2px 2px 6px 4px rgb(40, 40, 40);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

button {
    overflow: hidden;
    font-size: 20px;
    background-color: rgb(80, 80, 80);
    color: rgb(230, 230, 230);
    border: 2px solid;
    border-radius: 0.2em;
}

button:hover {
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

button:disabled {
    background-color: rgb(60, 60, 60);
    color: rgb(100, 100, 100);
    border: 2px solid rgb(100, 100, 100);
    cursor: auto;   
}

.info-section {
    width: 49.5%;
}

.result-section {
    float: left;
    margin-right: 0.5%;
    width: 49.5%;
    height: 35em;
    overflow: auto;
}

.order-section {
    float: left;
    margin-left: 0.5%;
    width: 49.5%;
}

.order-container {
    padding: 1em 0 0 2em;
}

.info-container {
    padding: 1em 0 0 2em;
}

.info {
    color: rgb(150, 150, 150);
    }

.info-content {
    color: rgb(230, 230, 230);
}

.result-text {
    padding: 1em 0 0 2em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

form {
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 0 0;
}


.mark-even {
    color: rgb(150, 150, 200);
}

.mark-odd {
    color: rgb(200, 150, 150)
}

.next-results-btn {
    font-size: 20px;
    background-color: rgb(60, 60, 60);
    color: rgb(230, 230, 230);
    border: none;
}

.next-results-btn:hover {
    color: white;
    background-color: rgb(60, 60, 60);
    cursor: pointer;
}

.next-results-btn:disabled {
    color: rgb(100, 100, 100);
    border: none;
}