@import "main.css";

/*
=================================================================

Global 
*/

form {
    height: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto 4fr;
    column-gap: 0.7em;
    row-gap: 0.7em;
} 

hr {
    margin: 1em 0 1em 0;
    width: 100%;
}

h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}



/*
=================================================================

Section
*/

section {
    display: flex;
    flex-direction: column;
}

.info-section {
    justify-content: space-between;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.result-section {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 1em 0.5em 1em 0.5em;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
}



/*
=================================================================

Result-Section-Related
*/

.result-text > hr {
    margin: 0.5em 0 0.5em 0 !important;
}

.result-text {
    width: 80%;
}

.result {
    font-size: 10px;
    margin-bottom: 5px;
}

.translit {
    margin-bottom: 5px;
}

#word-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result:nth-child(odd), .translit:nth-child(odd), .syllable-lemma:nth-child(odd) {
    background-color: var(--grey1);
}

.syllable-lemma {
    margin-bottom: 5px;
}

.word {
    font-size: 18px;
}

.pattern:nth-child(odd) {
    color: var(--red1);
}

.pattern:nth-child(even) {
    color: var(--blue1);
}



/*
=================================================================

Container 
*/

#page-container {
    width: 100%;
    text-align: center;
}

#transliteration-container {
    visibility: hidden;
    font-size: 18px;
   
}

#syllabification-container{
    visibility: hidden;
    font-size: 18px;
}

.order-container {
    display: flex;
    flex-direction: column;
}

.order-container > h2 {
    margin-top: 1em;
}

.order-container > :first-child {
    margin-top: 0 !important;
}

.order-container > * {
    margin-bottom: 0.5em;
}

.order-container > :last-child {
    margin-bottom: 0em !important;
}


/*
=================================================================

Button 
*/

.next-results-btn {
    border: none;
}

.next-results-btn:hover {
    background-color: var(--grey2);
}



/*
=================================================================

Anchor 
*/

a {
    color:var(--white2);
    text-decoration: none;
}

a.help {
    color: rgb(150, 150, 150);
}

a.help > * {
    vertical-align: super;
    font-size: 14px;
}



/*
=================================================================

Hover 
*/


a:hover .pattern:nth-child(odd) {
    color: var(--red2);
}

a:hover .pattern:nth-child(even) {
    color: var(--blue2);
}



/*
=================================================================

Disabled 
*/

button:disabled {
    background-color: var(--grey2);
    color: rgb(100, 100, 100);
    border: 2px solid rgb(100, 100, 100);
    cursor: auto;   
}

.next-results-btn:disabled {
    visibility: hidden;
}



/*
=================================================================

Unordered 
*/

.fa-external-link {
    position: relative;
    bottom: 1ex;
    left: 0.5em;
}

.info {
    color: var(--grey5);
}

.info-content {
    color: var(--white2);
}

.switch-label {
    line-height: 1em;
}

/*
=================================================================

Toggles
*/

 .switch {
    display: inline-block;
    position: relative;
    line-height: 0.8em;
    width: 30px;
    height: 17px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grey1);
    border-radius: 1em;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: var(--white2);
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--blue1);
  }

  input:disabled + .slider {
    background-color: #ccc;
    cursor: auto;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }