
/*

Contents

    1 Global

    2 Section

    3 Form-elements

    4 Button

    5 Anchor
    
    6 Table

    7 Container
    
    8 Hover
    
    9 Disabled
    
    10 Unordered

*/



/*
=================================================================

1 Global 
*/

body {
    margin-left: 5em;
    margin-right: 5em;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(50, 50, 50);
    font-size: 18px;
    font-family: sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    color: rgb(230, 230, 230);
}



/*
=================================================================

2 Section
*/

section {
    box-sizing: border-box;
    height: auto;
    padding: 0.5em 2em 0.5em 2em;
    overflow: auto;
    background-color: rgb(60, 60, 60);
    border-radius: 0.5em;
    box-shadow: 2px 2px 6px 4px rgb(40, 40, 40);
}

    /*
    --------------------------------------------------------------
    ids
    */

#key-section {
    grid-column-start: 1;
    grid-column-end: 3;
}

/*
#expand-keyboard-section {
    margin-left: 0.5%;
    width: 49.5%;
}*/



/*
=================================================================

Form-elements 
*/

select {
    margin-right: 1em;
    width: 6em;
    font-size: 20px;
    background-color: rgb(60, 60, 60);
    color: rgb(230, 230, 230);
    border: 2px solid;
    border-radius: 0.2em;
}

.text-field {
    width: 85%;
    font-size: 20px;
    background-color: rgb(80, 80, 80);
    color: rgb(230, 230, 230);
    border: 2px solid;
}

.text-field-wrong {
    width: 45%;
    font-size: 20px;
    background-color: rgb(80, 80, 80);
    color: rgb(230, 230, 230);
    border: 2px solid rgb(100, 50, 50);
}

#add-input-field {
    width: 75%;
    background-color: rgb(80, 80, 80);
    color: rgb(230, 230, 230);
    border: 2px solid;
}



/*
=================================================================

Button 
*/

button {
    overflow: hidden;
    font-size: 20px;
    background-color: rgb(80, 80, 80);
    color: rgb(230, 230, 230);
    border: 2px solid;
    border-radius: 0.2em;
}

button:disabled {
    background-color: rgb(60, 60, 60);
    color: rgb(100, 100, 100);
    border: 2px solid rgb(100, 100, 100);
    cursor: auto;
}

    /*
    --------------------------------------------------------------
    classes
    */

.show-button {
    width: 100%;
    background-color: rgb(60, 60, 60);
    border: none;
}

.plus-minus-button {
    width: 5%;
    margin-right: 0.2em;
}

.key {
    font-size: 18px;
}

    /*
    --------------------------------------------------------------
    ids
    */

#start-button {
    margin-left: 0.2em;
    width: 10%;
}

#add-button {
    margin-left: 0.2em;
    width: 10%;
}



/*
=================================================================

Anchor 
*/

a.back {
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 2em;
    color: rgb(230, 230, 230);
    text-decoration: none;
}

a.help-link {
    color: rgb(150, 150, 150);
    text-decoration: none;
}



/*
=================================================================

Table
*/

.key-table {
    font-size: 18px;
    width: 100%;
    border: 2px solid;
    border-spacing: 0;
    border-radius: 0.2em;
}

tr {
    height: 2em;
}

tr:nth-child(even){
    background-color: rgb(60, 60, 60);
}

tr:nth-child(odd) {
    background-color: rgb(80, 80, 80);
}

th, td {
    font-weight: normal;
    text-align: center;
}

th:first-child, td:first-child {
    text-align: left;
    padding-left: 0.5em;
    width: 35%;
    border: 2px solid;
    border-style: none solid none none;
}



/*
=================================================================

Container 
*/

.form-part-container {
    margin-bottom: 1em;
    /*width: 100%;*/
}

.button-wrapper{
    padding-left: 30%;
    padding-right: 30%;
}

#add-phoneme-container {
    margin-top: 0.2em;
}

.expand-container {
    padding-top: 1em;
}

#keyboard-container {
    display: flex;
    justify-content: space-between;
}

.inner-key-container {
    width: 47%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}



/*
=================================================================

Hover 
*/

select:hover {
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}


button:hover {
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

.show-button:hover{
    background-color: rgb(60, 60, 60);
}

.show-button:hover .expand-tooltip {
    visibility: visible;
}

svg:hover {
    fill: rgb(100, 100, 100);
}
.wrong-message {
    margin-top: 0.2em;
    color: rgb(200, 100, 100);
}



/*
=================================================================

Disabled 
*/

button:disabled {
    background-color: rgb(60, 60, 60);
    color: rgb(100, 100, 100);
    border: 2px solid rgb(100, 100, 100);
    cursor: auto;
}



/*
=================================================================

Unordered
*/

svg {
    transform: rotate(180deg);
    margin-bottom: 1em;
}


.phoneme-category {
    border: none;
}

.user-key {
    text-align: center;
    color: rgb(150, 150, 200);
    border: none;
}

.key-info {
    font-size: 16px;
}

.expand-tooltip {
    visibility: hidden;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}





