@import "main.css";

/*

Contents

    Global
    input section
    keyboard section
    table section

*/

/*
=================================================================

Global 
*/

main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.7em;
    row-gap: 0.7em;
    box-sizing: border-box;
    color: var(--white2);
}

section {
    box-sizing: border-box;
    height: auto;
    padding: 0.5em 4% 0.5em 4%;
    overflow: auto;
    background-color: var(--grey2);
    border-radius: 0.5em;
    box-shadow: 2px 2px 6px 4px var(--black);
}

#key-section {
    grid-column-start: 1;
    grid-column-end: 3;
}

a.help {
    color: rgb(150, 150, 150);
}

a.help > * {
    vertical-align: super;
    font-size: 14px;
}

button:disabled {
    background-color: var(--grey2);
    color: rgb(100, 100, 100);
    border: 2px solid rgb(100, 100, 100);
    cursor: auto;
}

/*
=================================================================

input section
*/

.form-part-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    row-gap: 0.2em;
    margin-bottom: 1em;
}

/*set margin to all child-elements of form-part except
select which has an individual margin*/
.form-part-container > *:not(select) {
    margin-right: 0.2em;
}

select {
    margin-right: 2em;
    width: 6em;
    font-size: 20px;
    background-color: var(--grey2);
    color: var(--white2);
    border: 2px solid;
    border-radius: 0.2em;
}

select:hover {
    background-color: var(--grey4);
    cursor: pointer;
}

.text-field {
    flex-grow: 1;
    font-size: 20px;
    background-color: var(--grey3);
    color: var(--white2);
    border: 2px solid;
}

.text-field-wrong {
    flex-grow: 1;
    font-size: 20px;
    background-color: var(--grey3);
    color: var(--white2);
    border: 2px solid var(--red3);
}

.wrong-message {
    width: 100%;
    margin-top: 0.2em;
    color: var(--red3);
}

#add-phoneme-container {
    margin-top: 0.2em;
}

#add-phoneme-container::after {
    content: "?";
    visibility: hidden;
}

#add-input-field {
    flex-grow: 1;
    font-size: 20px;
    background-color: var(--grey3);
    color: var(--white2);
    border: 2px solid;
}

.plus-minus-button {
    width: 5%;
    min-width: 40px;
    margin-right: 0.2em;
}

#start-button {
    width: 10%;
    min-width: 55px;
}

#add-button {
    width: 10%;
    min-width: 55px;
}

/*
=================================================================

keyboard section
*/

#keyboard-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
}

.inner-key-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

#key-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5em;
    row-gap: 1em;
}

/* keyboard button*/
.key {
    font-family: sans-serif;
    font-size: 18px;
    min-width: 50px;

}

.key:active {
    background-color: var(--grey2);
    border-color: rgb(170, 170, 170);
}


/*
=================================================================

table section
*/

table {
    font-size: 18px;
    border: 2px solid;
    border-spacing: 0;
    border-radius: 0.2em;
}

tr {
    height: 2em;
}

/* alternating color tr colors */
tr:nth-child(even){
    background-color: var(--grey2);
}

tr:nth-child(odd) {
    background-color: var(--grey3);
}

th, td {
    font-weight: normal;
    text-align: center;
}

th:first-child, td:first-child {
    text-align: left;
    padding-left: 0.5em;
    border: 2px solid;
    border-style: none solid none none;
}

#con-table {
    flex-grow: 3;
    min-width: 500px;
}

#vow-table {
    flex-grow: 1;
    min-width: 300px;

}

.asp-voice-tr {
    height: auto;
}

.asp-voice {
    font-size: 12px;
}

/* to get some space between the elements */
.manner {
    display: inline-block;
    width: 5em;
}

.user-key {
    color: var(--red3);
}

