@import "main.css";

/*
=================================================================

1 Global Styles
*/

section > * {
    margin-bottom: 0.5em;
}

section > :last-child {
    margin-bottom: 0!important;
}

p {
    margin-top: 0;
}
