<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phoneme Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/description_temp.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <a class="back" href="/"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a>
  <h1>How it works</h1>
  <div class="link-container"><a class="search-link" href="/search">search <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a></div>
  <main>
    <section class="search-description">
    <div>Search Page</div>
    <h2 id="input-methods">Input Methods</h2>
    <p>
      Phoneme search is quite easy to use. Basically you define a search pattern which can contain three possible input methods. These options work as follows:
    </p>
    <p id="individual-grapheme">
      1) Your input is merely an individual grapheme, like 'a'. The 'a'-character means 'a' in the languages. The input patterns resemble the Latin transcription,
      so there are some digraphs like ph, kh, th in Greek. A complete list of the individual signs can be found right below the search bar.
    </p>
    <p id="key-characters">
      2) Another method is to use simple key characters which represent certain groups of phonemes, ordered by phonemic features. These keys are mostly capital letters.
      For example 'P' stands for plosive therefore all plosive phonemes are allowed at the place where you put it into your pattern. These abbreviations can be combined with
      the '+'-character. If you write 'P+L' all plosive labials are allowed. There are four categories: manner, place, aspiration and voice. Each of these can be combined to a single cluster.
    </p>
    <p id="paranthesis">
      3) If you may allow an individual set of graphemes at a certain place in your pattern you can use parenthesis to wrap these graphemes. You can give this pattern for example: P(ae)L
      which means that lemmas with a plosive followed by a or e followed by a labial are matched. You may also enter the keywords into parenthesis, following the same rules as described in 2).
      If you wrap a '*' in parenthesis it means all characters are allowed at this position, so additional characters at this place will have no effect.
    </p>
    <h2 id="accent-sensitive">Accent-Sensitive Checkbox</h2>
    <p>
      If the checkbox is not ticked vowels without accent match all variants of itself with accent. This may be a good shortcut if you just want an a in your pattern and the accent doesn’t matter.
      Keep in mind that if give vowels with accent in your pattern it will search only for these no matter whether the accent checkbox is ticked or not.
    </p>
    <h2 id="secondary-input">Secondary Input Field</h2>
    <p>
      The plus-button expands a second input field. It is intended to provide a better overview when a complex pattern is entered. You enter a pattern there like in the main input field and can insert it
      via add-button into the main input field. If you don't find it useful just ignore it.
    </p>
    <h2 id="key">Key</h2>
    <!--example picture of table/search input-->
    <p>
      The key for every language is provided as a table below the search input field. The phonemes are ordered by linguistic categories. All graphemes which are given in these tables can
      be entered. The key words for consonant clusters are given next to the categories. You can combine them with '+' like described in 2). There are two special key characters: '|' and '*'.
      The asterisk allows all graphemes at the place where you put it in your pattern. The vertical bar marks the begin or ending of the lemma. If you enter '|et' for example, only lemmas starting with
      'et' (depending on the language) at the begin will be matched. When placed at the end lemmas which end with this pattern will be matched.
    </p>
    <h2 id="keyboard">Keyboard</h2>
    <p>
      There is a virtual keyboard. It contains keys for the key-characters and for characters with diacritical signs. You may find it easier to use than using the shortcuts on your
      hardware keyboard.
    </p>
  </section>
  <section class="result-description">
    <div>Result Page</div>
    <h2 id="match">Match</h2>
    <p>
      A lemma is matched if the given pattern is found at least once in the lemma. This means if you want a lemma to match the same pattern twice (or more) you must specify that explicitly:
      to*to matches lemmas which contain to at least two times.
      At the moment there is no way to exclude lemmas containing multiple matches.
    </p>
    <h2 id="result-order">Result Order</h2>
    <p>
      <!--example picture of result page-->
      The search results are presented as pages with a maximum of 25 matches per page. There are arrow symbols to navigate through the result pages. On the right side is some basic information about the results,
      at first the pattern you gave and below the number of matches. Below that are some buttons to modify the result order. Currently you can order the results alphabetical ascending and descending,
      reverse alphabetical ascending (seen from the end of the lemmas) and by length ascending and descending. Default is alphabetical ascending. Other possibilities to order the results are in progress.
      The given pattern is marked in the resulting lemmas. If the pattern is found more than once the marking colors alternate from red to blue to provide a better overview. They have no further meaning.
      The found lemmas are links to a dictionary entry of the respective lemma (if there is one). In Greek they link
      to <a class="dict-link" href="https://logeion.uchicago.edu/%CE%BB%CE%BF%CE%B3%CE%B5%E1%BF%96%CE%BF%CE%BD">Logeion</a> dictionary and in Vedic to <a class="dict-link" href="https://vedaweb.uni-koeln.de/">VedaWeb</a> application.
  </p>
</section>
</main>
</body>
</html>