<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phoneme Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/description_temp.css') }}"/>
</head>
<body>
  <h1>How it works</h1>
  <p>
    Phoneme Search is quite easy to use. Basically you give your search input, which then is searched for. There
    are three ways to define phonemes or groups of phonemes:
  </p>
  <p>
    1: Your input is merely an individual grapheme, like 'a'. In most cases the relation between a sign you put in and
    the phoneme which is searched for is obvious. For example the 'a' mentioned before means 'a' in the languages. Some phonemes
    are written with two characters, like 'aspirated t' in Vedic and Greek.
  </p>
  <p>
    2: Another method is to use simple key words which resemble certain groups of phonemes, ordered by phonemic
    features. These keys are capital letters. For example 'P' stands for plosive therefore all plosive phonemes are allowed at
    the place where you put it into your pattern. These abbreviations can be combined with the '+'-character. If you write
    'P+L' all plosive labials are allowed. There are four categories: manner, place, aspiration and voice. Each of these can be
      combined to a single cluster.
  </p>
</body>
</html>