<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phoneme Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/description_temp.css') }}"/>
</head>
<body>
  <h1>How it works</h1>
  <p>
    Phoneme search is quite easy to use. Basically you define a search pattern which can contain three possible input methods.
    These options work as follows:
  </p>
  <p>
    1: Your input is merely an individual grapheme, like 'a'. For example the 'a' mentioned before means 'a' in the languages.
    The input patterns resemble the Latin transcription (if there is), so there are some digraphs like ph, kh, th in Greek.
    A complete list of the individual signs can be found right below the search bar.
  </p>
  <p>
    2: Another method is to use simple key words which represent certain groups of phonemes, ordered by phonemic
    features. These keys are mostly capital letters. For example 'P' stands for plosive therefore all plosive phonemes are allowed at
    the place where you put it into your pattern. These abbreviations can be combined with the '+'-character. If you write
    'P+L' all plosive labials are allowed. There are four categories: manner, place, aspiration and voice. Each of these can be
      combined to a single cluster.
  </p>
</body>
</html>