<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phoneme Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search_temp.css') }}"/>
    <script></script>
</head>
<body>
    <main>
        <section class="search-section" id="input-section">
            <form id="search-form" action="http://127.0.0.1:1337/search_result" method="post">
                <div class="form-part-wrapper">
                    <label for="choose-language-id">language</label>
                    <select id="choose-language-id" name="choose-language" required="required">
                        <option value="1" selected="selected">Greek</option>
                        <option value="2">Vedic</option>
                    </select>
                    <label for='accent-check'>accent-sensitive</label>
                    <input id = "accent-check" class="sensitive-check" type="checkbox" name='accent-sensitive'>
                </div>
                <div id="user-input-container" class="form-part-wrapper">
                    <input id="user-input" class="text-field" type="text" name="search-input"/><button id="start-button" type="submit" name="submit-button" value="start">start</button>
                </div>
                <button id="plus-button" class="plus-minus-button" type="button">+</button><span>add phoneme</span>
            </form>
        </section>
        <section  id="expand-key-section" class="search-section">
            <div class="button-wrapper">
                <button id="expand-key-button" class="show-button">
                    <div class="expand-tooltip">expand key</div>
                    <svg id="key-vector" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="68.99999999999999 180.50792439778644 507.57142857142867 93.28571428571428" width="50">
                        <defs>
                            <path d="M447.68 226.15L573.57 270.79L321.78 270.79L70 270.79L195.88 226.15L321.78 181.51L447.68 226.15Z" id="aad80725as"></path>
                        </defs>
                        <g>
                            <g>
                                <use xlink:href="#aad80725as" opacity="1" fill="#e6e6e6" fill-opacity="1">
                                </use>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
        </section>
        <section id="expand-keyboard-section" class="search-section">
            <div class="button-wrapper">
                <button id="expand-keyboard-button" class="show-button">
                    <div class="expand-tooltip">expand keyboard</div>
                    <svg id="keyboard-vector" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="68.99999999999999 180.50792439778644 507.57142857142867 93.28571428571428" width="50">
                        <defs>
                            <path d="M447.68 226.15L573.57 270.79L321.78 270.79L70 270.79L195.88 226.15L321.78 181.51L447.68 226.15Z" id="aad80725as"></path>
                        </defs>
                        <g>
                            <g>
                                <use xlink:href="#aad80725as" opacity="1" fill="#e6e6e6" fill-opacity="1">
                                </use>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
        </section>
    </main>

 <script type="text/javascript" src="{{ url_for('static', filename='javascript/search_script.js') }}"></script>
<!--<script type="text/javascript" src="newSearchTempKey.js">
</script>-->
</body>
</html>