<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phoneme Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search_temp.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
            <a class="navigation" href="/">Home</a>
            <a class="navigation" href="/description">Help</a>
            <a id="indicator" class="navigation" href="/search">Search</a>
    </header>
    <main>
        <section id="input-section" class="search-section">
            <form id="search-form" action="/search/results" method="get">
                <div class="form-part-container">
                    <label for="choose-language-id">language</label>
                    <select id="choose-language-id" name="choose-language" required="required">
                        <option value="1" selected="selected">Greek</option>
                        <option value="2">Vedic</option>
                        <option value="3">Latin</option>
                        <option value="4">Armenian</option>
                    </select>
                    <label for='accent-check'>accent-sensitive</label>
                    <input id = "accent-check" class="sensitive-check" type="checkbox" name='accent-sensitive'>
                    <a class="help" href="/description#accent-sensitive"><span class="superscript">?</span></a>
                </div>
                <div id="user-input-container" class="form-part-container">
                    <input id="user-input" class="text-field" type="text" name="search-input" placeholder="search pattern"/>
                    <button id="start-button" type="submit" name="submit-button" value="start">start</button>
                    <a class="help" href="/description#input-methods"><span class="superscript">?</span></a>
                </div>
                <button id= plus-button class="plus-minus-button" type="button">+</button><label for="plus-button">add phoneme</label>
                <a class="help" href="/description#secondary-input"><span class="superscript">?</span></a>
            </form>
        </section>
        <section id="expand-keyboard-section" class="search-section">
        </section>
        <section  id="key-section" class="search-section">
            <div id="key-container">
                <table id="con-table">
                    <thead>
                        <tr>
                            <th>language</th>
                            <th colspan="4">labial <div class="user-key">B</div></th>
                            <th colspan="4">labiodental <div class="user-key">D</div></th>
                            <th colspan="4">labiovelar <div class="user-key">D</div></th>
                            <th colspan="4">alveolar <div class="user-key">A</div></th>
                            <th colspan="4">postalveolar <div class="user-key">S</div></th>
                            <th colspan="4">retroflex <div class="user-key">X</div></th>
                            <th colspan="4">palatal <div class="user-key">J</div></th>
                            <th colspan="4">velar <div class="user-key">K</div></th>
                            <th colspan="4">glottal <div class="user-key">H</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="asp-voice-tr">
                            <td>voice</td>
                            <td colspan="2"><span class="asp-voice">-</span></td><td colspan="2"><span class="asp-voice">+</span></td>
                            <td colspan="2"><span class="asp-voice">-</span></td><td colspan="2"><span class="asp-voice">+</span></td>
                            <td colspan="2"><span class="asp-voice">-</span></td><td colspan="2"><span class="asp-voice">+</span></td>
                            <td colspan="2"><span class="asp-voice">-</span></td><td colspan="2"><span class="asp-voice">+</span></td>
                            <td colspan="2"><span class="asp-voice">-</span></td><td colspan="2"><span class="asp-voice">+</span></td>
                            <td colspan="2"><span class="asp-voice">-</span></td><td colspan="2"><span class="asp-voice">+</span></td>
                            <td colspan="2"><span class="asp-voice">-</span></td><td colspan="2"><span class="asp-voice">+</span></td>
                            <td colspan="2"><span class="asp-voice">-</span></td><td colspan="2"><span class="asp-voice">+</span></td>
                            <td colspan="2"><span class="asp-voice">-</span></td><td colspan="2"><span class="asp-voice">+</span></td>
                        </tr>
                        <tr class="asp-voice-tr">
                            <td>aspiration</td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                            <td><span class="asp-voice">-</span></td><td><span class="asp-voice">+</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
 <script type="text/javascript" src="{{ url_for('static', filename='javascript/search_script.js') }}"></script>
<!--<script type="text/javascript" src="newSearchTempKey.js">
</script>-->
</body>
</html>
