<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phoneme Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome_Temp.css') }}"/>
</head>
<body>
    <h1>Phoneme Search</h1>
    <main>
        <section>
            <p>This application provides a phoneme search in a variety of ancient
            languages. It is grapheme based. You can enter your search pattern as individual phonemes and combine them with useful
            abbreviations of important phoneme features. Thereby finding the exact pattern you want with less effort. A detailed description
            of how the search application works can be found <a href="/search/description">here</a>.</p>
            <button id="open-search" class="button" onclick="location.href = '/search';">Open Phoneme Search</button>
        </section>
    </main>
</body>
</html>